.background h1{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
    font-variant: small-caps;
}

.background .enter{
    background-color: rgb(220, 220, 235);
    font-size:large;
    width: max-content;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(17, 18, 104);
    border-radius: 4px;
    text-transform:capitalize;
}

.background .enter:hover{
    background-color: #535785;
    color: white;
}
