.Card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    justify-content: space-between;
}

.Image{
    max-height: 50%;
    max-width: 50%;
    border-radius: 5px 5px 0 0;
}