.dogCards{
    background-color: beige;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslateblue;
    text-align: center;
    height: 100%;
    padding-top: 10px;
}

.dogCards label, .dogCards input, .dogCards select{
    font-weight: bolder;
    padding: 4px;
    margin: 4px;
    text-transform: capitalize;
}

.dogCards .buttonClear{
    background-color: rgb(167, 169, 243);
    font-size:medium;
    width: max-content;
    padding: 4px;
    margin: 4px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
}

.dogCards .buttonClear:hover{
    background-color: #1829e3;
    color: white;
}

.dogCards .ContainerDogs{
    display: inline-block;
    height: 100%;
    /* background-color: rgb(255, 255, 246);    */
}

.dogCards .Card {
    float:left;
    color: darkslateblue;
    border: white solid;
    background-color: rgb(220, 220, 239);
    border-radius: 5px;
    width: 450px;
    height: 350px;
    padding: 10px;
    margin: 20px;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.dogCards .Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dogCards .Image{
    border-radius: 5px 5px 0 0;
    max-width: 200px;
    max-height: 250px;
    /* width: 200px;
    height: 250px; */

}

.dogCards .dogInfo{
    text-align:center;
    text-transform: capitalize;
}

